<!-- ****** Start The Header ****** -->

<%- include('parts/header') %>
<link rel="stylesheet" href="/css/detectAdsBlock.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/posts.css">
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/home.css">
</head>
<body>

<!-- *** Start hiiden inputs *** -->
<input type="hidden" id="user" value='<%=id%>'>
<input type="hidden" id="me" value='<%=userId%>'>
<input type="hidden" id="mypicture" value='<%=mypicture%>'>
<input type="hidden" id="myfirstname" value='<%=myfirstname%>'>
<input type="hidden" id="mylastname" value='<%=mylastname%>'>

<!-- ****** Start The Navbar ****** -->
<%- include('parts/navbar')%>

<!-- ****** Start The header content ****** -->
<div class="container">
    <!-- ****** Start the search bar ****** -->
    <div class="search-bar">
        <form>
            <input type="search" dir="auto" autocomplete="off" name="search-name" class="form-control" placeholder="إبحث عن شخص">
            <button type="button" class="btn submit-filter btn-primary">
                <i class="fa fa-users"></i>
            </button>
        </form>
        <ul class="users-result list-unstyled" id="theusers"></ul>
    </div>

    <!-- ****** Add Btns and events ******-->
    <% if(id == userId) {%>
        <div id="theNotification"></div>
    <% } %>

    <!-- ****** popups ****** -->
    <div class="popup popup-1st" data-popup="popup-1st">
        <div class="popup-inner image">
            <form action="/profile/<%=userId%>/post-statu" method="POST" enctype="multipart/form-data">
                <!-- *** User Info for posts *** -->
                <input type="hidden" name="mypicture" value="<%=mypicture%>">
                <input type="hidden" name="myfirstname" value="<%=myfirstname%>">
                <input type="hidden" name="mylastname" value="<%=mylastname%>">
                <input type="hidden" name='redirect' value='/<%=userId%>'>
                <input type="file" name="image" accept="image/*" required>
                <input type="text" dir="auto" autocomplete="off" name="title" placeholder="Title" required class="form-control title">
                <textarea name="description" autocomplete="off" dir="auto" id="description" cols="15" rows="5" required placeholder="Description" class="form-control article"></textarea>
                <h4>Feliere & Module:</h4>
                <input type="text" dir="auto" autocomplete="off" name="category" placeholder="Feliere" required class='form-control select'>
                <input type="text" dir="auto" autocomplete="off" name="model" placeholder="Module" required class='form-control select model'>
                <input type="submit" value="Post" class="btn btn-success submit" id="submit-post">
            </form>
            <button class='close-popup btn btn-danger'>Close</button>
        </div>
    </div>
    <div class="popup popup-2nd" data-popup="popup-2nd">
        <div class="popup-inner file">
            <form action="/profile/<%=userId%>/post-file" method="POST" enctype="multipart/form-data">
                <!-- *** User Info for files *** -->
                <input type="hidden" name="mypicture" value="<%=mypicture%>">
                <input type="hidden" name="myfirstname" value="<%=myfirstname%>">
                <input type="hidden" name="mylastname" value="<%=mylastname%>">
                <input type="hidden" name='redirect' value='/<%=userId%>'>
                <input type="file" name="file" required max="1" accept='.doc, .docx, .pdf, .xlsx, xls, .ppt, .pptx, .pub, .txt,application/vnd.ms-word, application/vnd.ms-excel, application/mspowerpoint, text/plain, application/pdf'>
                <input type="text" dir="auto" autocomplete="off" name="title" maxlength="200" required placeholder="Title" class="form-control title">
                <textarea name="description" autocomplete="off" dir="auto" cols="15" required rows="5" required placeholder="Description" class="form-control article"></textarea>
                <h4>Feliere & Module:</h4>
                <input type="text" dir="auto" autocomplete="off" name="category" placeholder="Feliere" required class='form-control select'>
                <input type="text" dir="auto" autocomplete="off" name="model" placeholder="Module" required class='form-control select model'>
                <input type="submit" value="Post" class="btn btn-success submit">
            </form>
            <button class='close-popup btn btn-danger'>Close</button>
        </div>
    </div>
</div>

<!-- ****** Start the home sections ******  -->
<div class="section main" >
    <img src="/home-images/home.jpg" alt="sections">
    <div class="ovarlay" id='particles-js'>
        <div class="down">
            <i class="fas fa-chevron-down go-down"></i>
        </div>
    </div>
</div>
<div class="container">
    <div class="home-sections">
        <div class="row">
        <!-- ****** Start Embeded Ads ****** -->
        <!-- <div class="ads ads-right col col-12">
            <div>
                <iframe src="" frameborder="0" id="BlockAdsApp"></iframe>
            </div>
            <i class="fa fa-times-circle"></i>
        </div> -->
            <div class="col col-12">
                <div class="search-post">
                    <form>
                        <input type="search" dir="auto" name="search-post" class="form-control" placeholder="Search Module. e.x: Maths">
                        <button type="button" class="btn submit-filter-model btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div id="allposts" class='allposts'>
            <div>
                <%for(let post of posts) {%>
                    <div class='post status'>
                        <%if(userId == post.owenerPostId) {%>
                            <i class='fas fa-ellipsis-v edit'></i>
                        <%}%>
                        <ul class='edit list-unstyled'>
                            <form>
                                <input type="hidden" name="postId" value='<%=post._id%>'>
                                <input type="hidden" name="owenerPostId" value='<%=userId%>'>
                                <input type="hidden" name="redirect" value='/<%=post.owenerPostId%>'>
                                <li>
                                    <button type="submit" formaction="/profile/<%=post.owenerPostId%>/remove-post" formmethod="POST">
                                        <i class="fa fa-trash"></i> | حذف
                                    </button>
                                </li>
                            </form>
                        </ul>
                        <a href="/profile/<%=post.owenerPostId%>" class='anchor-pic'>
                            <img src="/userPic/<%=post.picture%>" alt="profile" class="profile-pic">
                            <span style="text-align: start;" dir="auto" class="username"> <%=post.firstname%> <%=post.lastname%></span>
                            <span class='timestamp' style="text-align: start;" dir="auto"> <%=post.postDate%></span>
                        </a>
                        <h4 style="text-align: start;" dir="auto"><%=post.title%></h4>
                        <p class='model' style="text-align:start">Feliere:<b> <%=post.category%> </b></p>
                        <p class='model' style="text-align:start">Module:<b> <%=post.model%></b></p>
                        <hr>
                        <%if(post.image !== 'undefined'){%>
                            <img src="/<%=post.image%>" class='post-pic' alt="postPic">
                        <%}%>
                        <%if(post.file !== 'undefined'){%>
                            <div class="file-content">
                                <a href="" id='file-icon-download-<%=post._id%>' class="file-design" download="<%=post.file%>">
                                    <img src="" alt="file" class="file">
                                    <i class="fas fa-arrow-down"></i>
                                </a>
                                <h3 style="text-align: start;" dir="auto"> <%=post.title%></h3>
                            </div>
                        <%}%>
                        <div class="trim">
                            <p class='desc' style="text-align: start;" dir="auto"><%=post.description%></p>
                            <div class=comments id='comments-<%=post._id%>'>
                            <form class="add-comment-form" method='POST'>
                                <input type=hidden id='postId-<%=post._id%>' value='<%=post._id%>'>
                                <input type=hidden id='owenerPostId-<%=post.owenerPostId%>' value='<%=post.owenerPostId%>'>
                                <input dir='auto' type=text id='comment-post-content-<%=post._id%>' placeholder='add comment' >
                                <button id='<%=post._id%>' type="submit" class="btn btn-primary">
                                    <i class='fas fa-paper-plane'></i>
                                </button>
                            </form>
                                <%for(let comment of post.comments) {%>
                                    <p style="text-align: start;" dir="auto" class='comment-at-the-post the-comment' id='comment-<%=comment._id%>'>
                                        <a href='/profile/<%=comment.me%>' >
                                            <img src="/userPic/<%=comment.mypicture%>" alt="profile" style="border-radius: 100%;width:30px;height:30px">
                                            <span style="text-align: start;" dir="auto" class='fullname'> <%=comment.myfirstname%> <%=comment.mylastname%></span>
                                        </a>
                                        <br>
                                        <span style="text-align: start;" dir="auto"><%=comment.comment%></span>
                                    </p>
                                    <%if(comment.me == userId){%>
                                        <form class='remove-comment-form trash-the-post' id='post-trash-<%=comment._id%>'>
                                            <i class='fas fa-ellipsis-v remove-cmnt-edit-icon'></i>
                                            <button class='trash-btn' id='<%=post._id%>-<%=comment._id%>'>
                                                <i class="fa fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    <%}%>
                                <%}%> 
                        </div>
                            <i class="fas fa-caret-down desc"></i>
                            <i class="fas fa-comment-alt comment"> <%=post.comments.length%></i>
                            <%if(post.image === 'undefined'){%>
                                <i class="fas fa-arrow-down" > <%=post.downloaders.length%></i>
                            <%}%>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
    </div>
</div>

<!-- <div id="BlockAdsMsg">
    <div class="innerCountainer">
        <h4 class="text-center">Stop AdBlock</h4>
        <p class="alert alert-danger">
            من فضلك قم بإقاف معطل اللإعلانات من على موقعنا لإكمال التصفح.
        </p>
        <p class="alert alert-success">
            نقوم بعرض إعلانات على صفحتنا لكي نضمن أن لا تتوقف سيرفاراتنا. فنحن ندفع من أجل هذا.
            وحيث أن هذه الإعلانات لن تضرك أبدا.. فنحن لا نعرضها بشكل مزعج أو بشكل عشوائي.. ولا حتى ضمن محتوانا الأكاديمي, 
            أو في مكان مزعج لك.
        </p>
    </div>
</div> -->

<!-- ****** Start The Scripts ****** -->
<%- include('parts/footer')%>

<!-- ****** Start the Sockets.io scripts ****** -->
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/js/sockets.io/posts.files.home.js"></script>
<script defer src="/js/sockets.io/users.list.js"></script>
<% if(id == userId) {%>
    <script defer src="/js/sockets.io/notifications.js"></script>
    <script defer src="/js/sockets.io/userHome.js"></script>
<%}%>
<!-- ****** Start My jQueries Custom -->
<script defer src="/js/navbar.js"></script>
<script defer src="/js/filters.js"></script>
<script defer src="/js/profile.js"></script>
<script defer src="/js/particles.min.js"></script>
<script defer src="/js/app.js"></script>

<!-- ****** Start Setect Adblock ****** -->
<!-- <script>
    if (!document.getElementById('BlockAdsApp')) {
        document.getElementById('BlockAdsMsg').style.display = 'block'
    } else {
        document.getElementById('BlockAdsMsg').style.display = 'none'
    }
</script> -->

</body>
</html>
