<!-- ****** Start The Header ****** -->

<%- include('parts/header') %>
<link rel="stylesheet" href="/css/slick.css">
<link rel="stylesheet" href="/css/slick-theme.css">
<link rel="stylesheet" href="/css/detectAdsBlock.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/posts.css">
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/home.css">
</head>
<body class="light-mode">

<!-- *** Start hiiden inputs *** -->
<input type="hidden" id="user" value='<%=id%>'>
<input type="hidden" id="me" value='<%=userId%>'>
<input type="hidden" id="mypicture" value='<%=mypicture%>'>
<input type="hidden" id="myfirstname" value='<%=myfirstname%>'>
<input type="hidden" id="mylastname" value='<%=mylastname%>'>

<!-- ****** Start The Navbar ****** -->
<%- include('parts/navbar')%>

<!-- ****** Start The header content ****** -->
<div class="container">

    <!-- ****** Add Btns and events ******-->
    <% if(id == userId) {%>
        <div id="theNotification"></div>
    <% } %>

    <!-- ****** popups ****** -->
    <div class="popup popup-2nd" data-popup="popup-2nd">
        <div class="popup-inner file">
            <form action="/profile/<%=userId%>/post-file" method="POST" enctype="multipart/form-data">
                <!-- *** User Info for files *** -->
                <input type="hidden" name="mypicture" value="<%=mypicture%>">
                <input type="hidden" name="myfirstname" value="<%=myfirstname%>">
                <input type="hidden" name="mylastname" value="<%=mylastname%>">
                <input type="hidden" name='redirect' value='/<%=userId%>'>
                <input type="file" name="file" required max="1" accept='image/*, .doc, .docx, .pdf, .xlsx, xls, .ppt, .pptx, .pub, .txt,application/vnd.ms-word, application/vnd.ms-excel, application/mspowerpoint, text/plain, application/pdf'>
                <input type="text" dir="auto" autocomplete="off" name="title" maxlength="250" required placeholder="العنوان" class="form-control title">
                <textarea name="description" autocomplete="off" dir="auto" cols="15" required rows="5" required placeholder="أضف وصف"  class="form-control article"></textarea>
                <h4>الفرع و المقياس / Feliere & Module:</h4>
                <input type="text" dir="auto" autocomplete="off" name="category" placeholder="Feliere/الفرع" required class='form-control select'>
                <input type="text" dir="auto" autocomplete="off" name="model" placeholder="Module/المقياس" required class='form-control select model'>
                <select dir="rtl" class='form-control' name="kindof" id="" required>
                    <option value="none" selected disabled hidden> إختر نوع منشورك </option>
                    <option value="memories">مذكرة</option>
                    <option value="exposes">بحث</option>
                    <option value="projects">مشروع</option>
                    <option value="books">كتاب</option>
                    <option value="lessons">درس</option>
                    <option value="all">أخرى</option>
                </select>
                <input type="submit" value="نشر" class="btn btn-success submit">
            </form>
            <!-- <button class='close-popup btn btn-danger'>Close</button> -->
        </div>
    </div>
</div>

<!-- ****** Start the home sections ******  -->
<div class="section main" >
    <img src="/home-images/home.jpg" alt="sections">
    <div class="text">
        <h4>مرحبا بكم في منصة الطالب</h4>
        <hr>
        <p>
            هل تعبت من تضييع وقتك في البحث عن مذكرات تخرج، بحوث، نماذج إختبارات، وكتب لإنجاز أعمالك؟ 
            <br>
            هل تعلم أن الجامعة لا تحتفظ بأعمالك(مذكراتك، بحوثك، مشاريعك)
            بالتالي جهودك تضيع مع الوقت بلا نفع؟
            <br> مع منصتنا سوف نجعل أعمالك تدوم، ويستفيد من أعمالك الجميع، وتستفيد أنت الكثير
        </p>
        <hr>
        <h5>معاً نجعل الدراسة أحسن</h5>
        <div class="down">
            <i class="fas fa-chevron-down go-down"></i>
        </div>
    </div>
    <div class="ovarlay" id='particles-js'>
    </div>
</div>
<div class="container">
    <div class="home-sections">
        <div class="row">
        <!-- ****** Start Embeded Ads ****** -->
            <div class="ads ads-right col col-12">
                <div>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- first ads -->
                <ins
                    id="BlockAdsApp"
                    class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-8967420236427435"
                    data-ad-slot="7511159599"
                    data-ad-format="auto"
                    data-full-width-responsive="true">
                </ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                </div>
                <i class="fa fa-times-circle"></i>
            </div>
        <div class="col col-12">
            <div class="search-post">
                <form>
                    <input type="search" dir="auto" name="search-post" class="form-control" placeholder="بحث عن المادة">
                    <button type="button" disabled class="btn submit-filter-model btn-primary">
                        <i class="fa fa-filter"></i>
                    </button>
                </form>
            </div>
            <hr>
            <div class="buttons-filter">
                <ul class="list-unstyled" id='slider'>
                    <li class="category filter active" data-filter="all">الكل</li>
                    <li class="category filter" data-filter=".exposes">بحوث</li>
                    <li class="category filter" data-filter=".memories">مذكرات</li>
                    <li class="category filter" data-filter=".projects">مشاريع</li>
                    <li class="category filter" data-filter=".lessons">دروس</li>
                    <li class="category filter" data-filter=".books">كتب</li>
                </ul>
            </div>
        </div>
        </div>
        <div id="allposts" class='allposts'>
            <%for(let post of posts) {%>
                <div class='post status mix <%=post.kindof%>'>
                    <%if(userId == post.owenerPostId) {%>
                        <i class='fas fa-ellipsis-v edit'></i>
                    <%}%>
                    <ul class='edit list-unstyled'>
                        <form>
                            <input type="hidden" name="postId" value='<%=post._id%>'>
                            <input type="hidden" name="owenerPostId" value='<%=userId%>'>
                            <input type="hidden" name="redirect" value='/<%=post.owenerPostId%>'>
                            <li>
                                <button type="submit" formaction="/profile/<%=post.owenerPostId%>/remove-post" formmethod="POST">
                                    <i class="fa fa-trash-alt fa-fw"></i> | حذف
                                </button>
                            </li>
                        </form>
                    </ul>
                    <a href="/profile/<%=post.owenerPostId%>" class='anchor-pic'>
                        <img src="/home-images/defaultUser.jpeg" alt='' class="default profile-pic">
                        <%if(post.picture !== 'default') {%>
                            <img src="/userprofile/<%=post.picture%>" alt='' class="picchanged profile-pic">
                        <%}%>
                        <span style="text-align: start;" dir="auto" class="username"> <%=post.firstname%> <%=post.lastname%></span>
                        <span class='timestamp' style="text-align: start;" dir="auto"> <%=post.postDate%></span>
                    </a>
                    <h4 style="text-align: start;" dir="auto"><%=post.title%></h4>
                    <p class='model' style="text-align:start">Feliere:<b> <%=post.category%> </b></p>
                    <p class='model' style="text-align:start">Module:<b> <%=post.model%></b></p>
                    <hr>
                    <%if(post.image !== 'undefined'){%>
                        <img src="<%=post.image%>" class='post-pic' alt="post">
                    <%}%>
                    <%if(post.file !== 'undefined'){%>
                        <div class="file-content">
                            <a href="<%=post.file%>" id='file-icon-download-<%=post._id%>' class="file-design" download='watikah-resourses'>
                                <img src="" alt="file" class="file">
                                <i class="fas fa-arrow-down"></i>
                            </a>
                            <h3 style="text-align: start;" dir="auto"> <%=post.title%></h3>
                        </div>
                    <%}%>
                    <div class="trim">
                        <p class='desc' style="text-align: start;" dir="auto"><%=post.description%></p>
                        <div class="comments">
                            <hr>
                            <form class="add-comment-form">
                                <input type=hidden id='postId-<%=post._id%>' value='<%=post._id%>'>
                                <input type=hidden id='owenerPostId-<%=post.owenerPostId%>' value='<%=post.owenerPostId%>'>
                                <input dir='rtl' type=text id='comment-post-content-<%=post._id%>' placeholder='أترك تعليق' >
                                <button id='<%=post._id%>' disabled type="button" class="btn submit addcmnt">
                                    <i class='fas fas fa-comment-alt'></i>
                                </button>
                            </form>
                            <hr>
                            <div class="inner-comments" id='comments-<%=post._id%>'>
                                <%for(let comment of post.comments) {%>
                                    <p class='comment-at-the-post the-comment' id='comment-<%=comment._id%>'>
                                        <a href='/profile/<%=comment.me%>'>
                                            <span class="img">
                                                <img src="/home-images/defaultUser.jpeg" alt='' class="default profile-pic"> 
                                            <%if(post.picture !== 'default') {%>
                                                <img src="/userprofile/<%=comment.mypicture%>" alt='' class="picchanged profile-pic"> 
                                            <%}%>
                                            </span>
                                            <span class='fullname'> <%=comment.myfirstname%> <%=comment.mylastname%></span>
                                        </a>
                                        <br>
                                        <span style="text-align: start;" dir="auto"><%=comment.comment%></span>
                                    </p>
                                    
                                    <%if(comment.me == userId){%>
                                        <form class='remove-comment-form trash-the-post' id='post-trash-<%=comment._id%>'>
                                            <i class='fas fa-ellipsis-v remove-cmnt-edit-icon'></i>
                                            <button class='trash-btn' id='<%=post._id%>-<%=comment._id%>'>
                                                <i class="fa fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    <%}%> 
                                <%}%> 
                            </div>
                        </div>
                        <i class="fas fa-caret-down desc"></i>
                        <i class="fas fa-comment-alt comment"> <%=post.comments.length%></i>
                        <%if(post.image === 'undefined'){%>
                            <i class="fas fa-arrow-down" > <%=post.downloaders.length%></i>
                        <%}%>
                        <div class="saveme" style="display: inline-block;">
                            <%if(post.savers.length != 0){%>
                                <%for(let saver of post.savers) {%>
                                    <% var isSaved = post.savers.find(saver => saver.saverId == userId) %>
                                <%}%>
                                <%if(!isSaved){%>
                                    <i class="far fa-bookmark savepost"></i>
                                    <i class="fas fa-bookmark unsavepost" style="display: none; opacity: 0;"></i>
                                <%} else if(isSaved) {%>
                                    <i class="far fa-bookmark savepost" style="display: none; opacity: 0;"></i>
                                    <i class="fas fa-bookmark unsavepost" ></i>
                                <%}%>
                            <%} else {%>
                                <i class="far fa-bookmark savepost"></i>
                                <i class="fas fa-bookmark unsavepost" style="display: none; opacity: 0;"></i>
                            <%}%>
                            <input type="hidden" value="<%=post._id%>">
                        </div>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
</div>

<div id="BlockAdsMsg">
    <div class="innerCountainer">
        <h4 class="text-center">Stop AdBlock</h4>
        <p class="alert alert-danger">
            من فضلك قم بإقاف معطل اللإعلانات من على موقعنا لإكمال التصفح.
        </p>
        <p class="alert alert-success">
            نقوم بعرض إعلانات على صفحتنا لكي نضمن أن لا تتوقف سيرفاراتنا. فنحن ندفع من أجل هذا.
            وحيث أن هذه الإعلانات لن تضرك أبدا.. فنحن لا نعرضها بشكل مزعج أو بشكل عشوائي.. ولا حتى ضمن محتوانا الأكاديمي, 
            أو في مكان مزعج لك.
        </p>
        <p class="alert alert-danger">
            Our Forum website is made possible by displaying online
            advertisements to our visitors for keeping it at the server oui paying for.
            So please consider supporting us by displaying your ad blocker.
        </p>
    </div>
</div>

<!-- ****** Start The Scripts ****** -->
<%- include('parts/footer')%>
<!-- ****** Start My jQueries Custom ****** -->
<script defer src="/js/navbar.js"></script>
<script defer src="/js/particles.min.js"></script>
<script defer src="/js/app.js"></script>

<!-- ****** Start the Sockets.io scripts ****** -->
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/js/sockets.io/posts.files.home.js"></script>
<script defer src="/js/save.js"></script>
<% if(id == userId) {%>
    <script defer src="/js/sockets.io/notifications.js"></script>
    <script defer src="/js/sockets.io/userHome.js"></script>
<%}%>

<!-- Start call the filter shuffle plugin -->
<script src="/js/mixitup.min.js"></script>
<!-- Start my jQuery -->
<script defer src="/js/filters.js"></script>
<script defer src="/js/profile.js"></script>

<!--  ****** Start the Slick Carousel scripts ****** -->
<script src="/js/slick.min.js"></script>

<!-- ****** Start Setect Adblock ****** -->
<script>
    if (!document.getElementById('BlockAdsApp')) {
        document.getElementById('BlockAdsMsg').style.display = 'block'
    } else {
        document.getElementById('BlockAdsMsg').style.display = 'none'
    }
</script>

</body>
</html>
