<%- include('parts/header') %>
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/footer.css">
</head>
<body 
style="    margin: 0;
padding: 0;
height: 100%;">

<%- include('parts/navbar')%>
<!-- *** Start hiiden inputs *** -->
<div class="container footer-with-navbar">
    <h5 class="text-center">
        Welcome
        <img src="/userPic/<%=mypicture%>" alt="user" style='width:30px;height: 30px;border-radius: 100%;' >
        <%=myfirstname%> <%=mylastname%></h5>
    <a href="#arabic" dir="auto" style="text-align: start;">عربي </a> | 
    <a href="#english"> English</a>
    <hr>
    <!-- Start in arabic -->
    <h1 id="arabic" class="text-center">سياسة الخصوصية</h1>
    <hr>
    <h4 class="text-center">مقدمة</h4>
    <p style="text-align: start;" dir="auto">
        <bdo dir="auto">Watikah.com</bdo>
        هي منصة صممة وطورة من أجل مجتمع الطلبة, هذه المنصة تجعل الطلبة مجتمعين معا
        في منصة واحدة.هذه المنصة تتيح لك فتح حساب والتحكم فيه.., و يمكنك نشر 
        كل ما تود حول دراستك بحوثك, واجباتك المنزلية, حلول تمارين., مذكرات تخرج.., سيكون بإمكانك نشرها على شكل وثيقة
        <bdo dir="auto">Document</bdo>
        بجميع صيغها.. حتى يعرف من سيقوم بتنزيلها نوعها.
        أو على شكل صورة.. وهذا مع إدخال وصف لما تنشره وعنوان و الفرع و المقياس لهذا المنشور.
         من مساعدة الأخرين للوصول لهذا المنشور والإستفادة منه.
         يمكنك شكر صاحب المنشور بترك تعليق له لكي يكون الوصول لهذا المنشور من الأوائل عنذ البحث عن عن.
         بإمكانك زيارة صفحة هذا الشخص وترك وترك له نجمة تدل على جودة ما ينشره.
         أو ترك له رسالة شكر أو نوع من هذا القبيل.
        </b></q>
    </p>
    <hr>
    <p style="text-align: start;" dir="auto">
        هذه المنصة ليست فقط للجزائريين. إن كن خارج الجزائر فبإمكانك إستخدامه.
    </p>
    <hr>
    <h5 class="text-center" dir="auto">السياسة الخصوصية هذه تعرف :</h5>
    <ul style="text-align: start;" dir="auto">
        <li><a href="#information-collect-ar">ماذا نخزن في منصتنا من معلومات؟</a></li>
        <li><a href="#information-use-ar">ماهي المعلومات التي نستعملها ومع من نشاركها؟</a></li>
        <li><a href="#updateInformations">كيف يمكنك الدخول وإستبدال معلوماتك؟</a></li>
        <li><a href="#werecoverinformation">كيف نحمي المعلومات التي نخزنها عنك؟</a></li>
    </ul>
    <hr>
    <h5 class="text-center" id="information-collect-ar">المعلومات التي تحتويها منصتنا</h5>
    <p class="text-center">:نحن نخزن المعلومات التالية</p>
    <p style="text-align: start;" dir="auto">
        <b>معلومات تشاركنا إياها مباشرة :</b>
    </p>
    <ul style="text-align: start;" dir="auto">
        <li>إسمك الأول وإسمك الثاني وعنوان بريدك الإلكتروني
        </li>
        <li>
            معلومات حول صفحتك الشخصية, أنت تظهرها في صفحتك الشخصية. مثال: إسمك الكامل صورتك
            خلفية لصفحتك. هذه المعلومات تسمح لنا بمساعدة الأخرين للوصول إليك على منصتنا.
        </li>
        <li>
            محتويات المستخدم, مثال: الصور الملفات التعليقات و معلومات أخرى التي تنشرها في صفتحك الشخصية.
        </li>
        <li>
            إتصالات بينك وبين منصتنا. مثال نحن نرسل لك إميلات حول أي عملية تجديد للمنصة أو حول تغيير أس شيء في سياسة البنود.
            مثال: أن تراسلنا حول جعل صفحتك الشخصية رسمية وما إللى ذلك.
        </li>
    </ul>
    <hr>
    <h5 class="text-center" id="information-use-ar">:المعلومات التي نستخدمها ومع من نشاركها</h5>
    <ul style="text-align: start;" dir="auto">
        <li>
            إسمك الأول وإسمك الثاني وعنوان بريدك الإلكتروني
        </li>
        <li>
            معلومات حول صفحتك الشخصية, أنت تظهرها في صفحتك الشخصية. مثال: إسمك الكامل صورتك
            خلفية لصفحتك. هذه المعلومات تتم مشاركتها مع عندما تقوم بنشر ملف ما او صورة. أو تضع تفضيل لشخص ما
            فتتم مشاركة معلوماتك مثل إسمك وصورتك لكي يتعلرف الشخص من قام بهذا الحدث.
        </li>
        <li>
            محتويات المستخدم, مثال: الصور الملفات التعليقات و معلومات أخرى التي تنشرها في صفتحك الشخصية.
            وهه المعلومات لا يمكن الوصول إليها إلى من هم على المنصة. وبالمثل يمكنك التعرف عليهم والبحث كذلك عن ما تريد 
            سواء كان شخص أو صورة أو ملف.
        </li>
        <li>
            بإستثناء ما تم ذكره لا يتم مشاركة بياناتك مع أي منصة أخرى.
        </li>
    </ul>
    <hr>
    <h5 class="text-center" id="updateInformations">:كيف ومتى يمكنك تغيير معلوماتك الشخصية</h5>
    <ul style="text-align: start;" dir="auto">
        <li>
            يمكنك فقط إنشاء حساب ببريد إلكتروني واحد فقط.
            متى أردت إنشاء حساب أخر. فبإمكانك ذلك ببريد إلكتروني جديد.
        </li>
        <li>
            يمكنك تغيير معلوماتك الشخصية مثل الإسم و حالتك الخاصة بك في أي وقت تشاء.
            وهذا من خلال التوجه إلى القائمة الموجودة على شريد أو عمود المهام الموجود على اليسار. 
             إضغط على الأيقونة الأخيرة إختر تغيير <bdo dir="auto">Edit</bdo>
             ثم غير معلوماتك
        </li>
        <li>
            يمكنك تغيير معلوماتك متى تشاء. لا يوجد تحديد للوقت
        </li>
        <li>
            لا يمكنك أن تتعدى أكثر من 16 حرف في مجمل إسمك, 
            الإسم الأول والإسم الأخير.
        </li>
        <li>
            بإمكانك تغيير صورةتك الشخصية و تغيرر صورة خلفية صفحتك الشخصية بالضغظ على الزر الموجود على كل من الخلفية لتغيير الخلفية.
            والزر الموجود على الصورة الشخصية لتغيير الشخصية.
        </li>
    </ul>
    <hr>
    <h5 class="text-center" id="werecoverinformation">:كيف نحمي معلوماتك الشخصية</h5>
    <ul style="text-align: start;" dir="auto">
        <li>
            تتم تشفير معلوماتك الشخصية الخاصة بك مثل بريدك الإلكتروني وكلمة المرور داخل قاعدة بياناتنا بشكل أمن ولا يمكن لأحد الوصول إليهم إلى أنت.
        </li>
        <li>
            يتم تشفيرر كلمة المرور الخاصة بك ولا يمكن معرفتها.
            وفي حالة أردت تغييرها فبإمكانك ذلك.
        </li>
        <li>
            يمكنك تغيير كلمة المرور الخاصة بك في حالة نسيانها بالضغظ على الزر. <bdo dir="auto"><a href="/forgot">Forgotten Password</a></bdo>
            ومن ثم إدخال عنوان بريدك الإلكتروني التي سجلت به, وتمتلك به حسابك. سيتم إرسال رابط إلى بريدك الإلكتروني إهب إلى بريدك الإلكتروني,
            إفتح الرسالة المرسلة ثم قم بفتح الرابط فيه. يفتح لك الرابط مكان لإدخال كلمة المرور الجديدة ثم قم بالتأكيد عليها.
            إتجه نحو صفحة الدخول قم بالدخول مجددا مع إدخال كلمة المرور الجديدة التي أنشأتها.
        </li>
    </ul>
    <!-- Start English Policy -->
    <hr>
    <h1 id="english" class="text-center">Previcy Policy</h1>
    <hr>
    <h4 class="text-center">Itroduction</h4>
    <p>Watikah.com developed and designed for the university stedunts communety,
        it is make a stedunts around algeria country all toghether in aone platform,
        this platform let you publish your files, like your memory gratitude or your
        expose, or your homework, or questions in picture, all this you can input a description
        that seen in the box description, and input too a vategory and model of what you will
        published. <q><b>all that for making our country better place</b></q>
        <hr>
        this site is not only for algerian people, if you not live in algeria you can use it,
        but this content is special for algerian people.
        <hr>
    </p>
    <h3 class="text-center">this Previcy Policy Describes:</h3>
    <ul>
        <li><a href="#information-collect">What Information we collect?</a></li>
        <li><a href="#">What we use that information and with whom we share?</a></li>
        <li><a href="#">how you can access and and update that information?</a></li>
        <li><a href="#">how we protect the information we store about you?</a></li>
    </ul>
    <hr>
    <h3 class="text-center" id="information-collect">Information we Collect</h3>
    <p class="text-center">We collect the following types of information.</p>
    <p><b>information you prived us directly:</b></p>
    <ul>
        <li>You first & last name, password and email adress when 
            you registerfor an watika account.
        </li>
        <li>Profile information that you provide for your user 
            profile(e.g., first and last name, picture, background,)
            this information allows us to help you or others be 'found' on Watika.
        </li>
        <li>
            User Content(e.g., photos, files, comments, and other materials) that you post the services
        </li>
        <li>
            Communication between you and watika. For Example, we snd you Services-related emails
            (e.g,. account verification, changes/updates to features of the Services)
        </li>
    </ul>
</div>

<div class="footer with-nav">
    <div>
        <p>Developed and Designed with <i class="fa fa-heart"></i> & <i class="fa fa-coffee"></i>, by Amir Diafi. All Rights are recerved &COPY; 2020. watikah.com</p>
        <ul>
            <li>
                <a href="http://">
                    <i class="fab fa-twitter fa-fw"></i>
                </a>
            </li>
            <li>
                <a href="http://">
                    <i class="fab fa-facebook fa-fw"></i>
                </a>
            </li>
            <li>
                <a href="http://">
                    <i class="fab fa-instagram fa-fw"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<%- include('parts/footer')%>
<script src="/js/navbar.js"></script>
</body>
</html>
    

