<!-- ****** Start The Header ****** -->

<%- include('parts/header') %>
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/posts.css">
<link rel="stylesheet" href="/css/profile.css">
</head>
<body>

    <style>
        .the-navbar{
            background-color:#004085 !important
        }
    </style>

<!-- *** Start hiiden inputs *** -->
<input type="hidden" id="myfirstname" value='<%=myfirstname%>'>
<input type="hidden" id="mylastname" value='<%=mylastname%>'>
<input type="hidden" id="mypicture" value='<%=mypicture%>'>
<input type="hidden" id="postId" value='<%=postId%>'>
<input type="hidden" id="me" value='<%=userId%>'>

<!-- ****** Start The Navbar ****** -->
<%- include('parts/navbar')%>
<div class="container post-cont" id="mysaved">
    <%for(let post of posts) {%>
        <%for(let saver of post.savers) {%>
            <%if(saver.saverId == userId){%>
                <div class='post status mix <%=post.kindof%>'>
                    <%if(userId == post.owenerPostId) {%>
                        <i class='fas fa-ellipsis-v edit'></i>
                    <%}%>
                    <ul class='edit list-unstyled'>
                        <form>
                            <input type="hidden" name="postId" value='<%=post._id%>'>
                            <input type="hidden" name="owenerPostId" value='<%=userId%>'>
                            <input type="hidden" name="redirect" value='/<%=post.owenerPostId%>'>
                            <li>
                                <button type="submit" formaction="/profile/<%=post.owenerPostId%>/remove-post" formmethod="POST">
                                    <i class="fa fa-trash-alt fa-fw"></i> | حذف
                                </button>
                            </li>
                        </form>
                    </ul>
                    <a href="/profile/<%=post.owenerPostId%>" class='anchor-pic'>
                        <img src="/home-images/defaultUser.jpeg" alt='' class="default profile-pic">
                        <%if(post.picture !== 'default') {%>
                            <img src="/userprofile/<%=post.picture%>" alt='' class="picchanged profile-pic">
                        <%}%>
                        <span style="text-align: start;" dir="auto" class="username"> <%=post.firstname%> <%=post.lastname%></span>
                        <span class='timestamp' style="text-align: start;" dir="auto"> <%=post.postDate%></span>
                    </a>
                    <h4 style="text-align: start;" dir="auto"><%=post.title%></h4>
                    <p class='model' style="text-align:start">Feliere:<b> <%=post.category%> </b></p>
                    <p class='model' style="text-align:start">Module:<b> <%=post.model%></b></p>
                    <hr>
                    <%if(post.image !== 'undefined'){%>
                        <img src="<%=post.image%>" class='post-pic' alt="post">
                    <%}%>
                    <%if(post.file !== 'undefined'){%>
                        <div class="file-content">
                            <a href="<%=post.file%>" id='file-icon-download-<%=post._id%>' class="file-design" download='watikah-resourses'>
                                <img src="" alt="file" class="file">
                                <i class="fas fa-arrow-down"></i>
                            </a>
                            <h3 style="text-align: start;" dir="auto"> <%=post.title%></h3>
                        </div>
                    <%}%>
                    <div class="trim">
                        <p class='desc' style="text-align: start;" dir="auto"><%=post.description%></p>
                        <div class="comments" id='comments-<%=post._id%>'>
                            <hr>
                            <form class="add-comment-form">
                                <input type=hidden id='postId-<%=post._id%>' value='<%=post._id%>'>
                                <input type=hidden id='owenerPostId-<%=post.owenerPostId%>' value='<%=post.owenerPostId%>'>
                                <input dir='auto' type=text id='comment-post-content-<%=post._id%>' placeholder='أضف تعليق' >
                                <button id='<%=post._id%>' disabled type="button" class="btn submit addcmnt">
                                    <i class='fas fas fa-comment-alt'></i>
                                </button>
                            </form>
                            <hr>
                            <%for(let comment of post.comments) {%>
                                <p class='comment-at-the-post the-comment' id='comment-<%=comment._id%>'>
                                    <a href='/profile/<%=comment.me%>'>
                                        <span class="img">
                                            <img src="/home-images/defaultUser.jpeg" alt='' class="default profile-pic"> 
                                        <%if(post.picture !== 'default') {%>
                                            <img src="/userprofile/<%=comment.mypicture%>" alt='' class="picchanged profile-pic"> 
                                        <%}%>
                                        </span>
                                        <span class='fullname'> <%=comment.myfirstname%> <%=comment.mylastname%></span>
                                    </a>
                                    <br>
                                    <span style="text-align: start;" dir="auto"><%=comment.comment%></span>
                                </p>
                                
                                <%if(comment.me == userId){%>
                                    <form class='remove-comment-form trash-the-post' id='post-trash-<%=comment._id%>'>
                                        <i class='fas fa-ellipsis-v remove-cmnt-edit-icon'></i>
                                        <button class='trash-btn' id='<%=post._id%>-<%=comment._id%>'>
                                            <i class="fa fa-trash-alt"></i>
                                        </button>
                                    </form>
                                <%}%> 
                            <%}%> 
                        </div>
                        <i class="fas fa-caret-down desc"></i>
                        <i class="fas fa-comment-alt comment"> <%=post.comments.length%></i>
                        <%if(post.image === 'undefined'){%>
                            <i class="fas fa-arrow-down" > <%=post.downloaders.length%></i>
                        <%}%>
                        <div class="saveme" style="display: inline-block;">
                            <%if(post.savers.length != 0){%>
                                <%for(let saver of post.savers) {%>
                                    <% var isSaved = post.savers.find(saver => saver.saverId == userId) %>
                                <%}%>
                                <%if(!isSaved){%>
                                    <i class="far fa-bookmark savepost"></i>
                                    <i class="fas fa-bookmark unsavepost" style="display: none; opacity: 0;"></i>
                                <%} else if(isSaved) {%>
                                    <i class="far fa-bookmark savepost" style="display: none; opacity: 0;"></i>
                                    <i class="fas fa-bookmark unsavepost" ></i>
                                <%}%>
                            <%} else {%>
                                <i class="far fa-bookmark savepost"></i>
                                <i class="fas fa-bookmark unsavepost" style="display: none; opacity: 0;"></i>
                            <%}%>
                            <input type="hidden" value="<%=post._id%>">
                        </div>
                    </div>
                </div>
            <%}%>
        <%}%>
    <%}%>
</div>

<!-- ****** Start The Scripts ****** -->
<%- include('parts/footer')%>
<script defer src="/js/navbar.js"></script>
<script defer src="/js/filters.js"></script>
<script defer src="/js/profile.js"></script>

<!-- ****** Start the Sockets.io scripts ****** -->
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/js/sockets.io/save.js"></script>
</body>
</html>