<div class="followings col-6 popup-following">
    <h3 class="titles">يفضل <%=user.followings.length%></h3>
    <%if(user.followings.length !== 0){%>
        <%for(let following of user.followings){%>
            <hr>
            <div class="following">
                <a href="/profile/<%=following.userId%>">
                    <span class="img">
                        <img src="/defaultuser/defaultUser.jpeg" alt='' class="default profile-pic">
                    <%if(following.picture !== 'default') {%>
                        <img src="/userprofile/<%=following.userpicture%>" alt='' class="picchanged profile-pic">
                    <%}%>
                    </span>
                    <span class="fullname">
                        <%=following.userfirstname%> <%=following.userlastname%>
                    </span>
                </a>
            </div>
            <hr>
        <%}%>
    <%} else {%>
        <div class="no-followers">
            <p>لا يوجد مفضلين بعد</p>
            <img src="/home-images/follower.png" alt="">
        </div>
    <%}%>
</div>