<div class="followers col-6 popup-followers">
    <h3 class="titles">يفضله <%=user.followers.length%></h3>
    <%if(user.followers.length !== 0){%>
        <%for(let follower of user.followers){%>
            <div class="follower">
                <a href="/profile/<%=follower.me%>">
                    <span class="img">
                        <img src="/defaultuser/defaultUser.jpeg" alt='' class="default profile-pic">
                    <%if(follower.picture !== 'default') {%>
                        <img src="/userprofile/<%=follower.mypicture%>" alt='' class="picchanged profile-pic">
                    <%}%>
                    </span>
                    <span class="fullname">
                        <%=follower.myfirstname%> <%=follower.mylastname%>
                    </span>
                </a>
            </div>
        <%}%>
    <%} else {%>
        <div class="no-followers">
            <p>لا يوجد مفضلين بعد</p>
            <img src="/home-images/follower.png" alt="">
        </div>
    <%}%>
</div>